.statistic-item {
  display: grid;
  grid-template-areas: 'title'
  'description';
  width: max-content;
  align-items: center;
  justify-items: center;
  column-gap: 5px;
  row-gap: 5px;
  font-size: var(--mediumSize);

  &:last-of-type {
    div {
      align-items: end;
    }
  }

  div {
    grid-area: title;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .number {
    font-weight: bold;
  }

  i {
    color: var(--themeColor);
    text-align: end;
    font-size: var(--bigestSize);
  }

  .description {
    grid-area: description;
  }
}

