.aboutMe__general {


  p {
    color: slategray;
  }

  .general__main {
    margin-top: calc(var(--step) * 3);
    display: flex;
    gap: 20px;
    @media screen and (max-width: 768px) {
      & {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    img {
      width: min(300px, 40%);
      height: auto;
      object-fit: cover;
      @media (max-width: 768px) {
        min-height: 300px;
        min-width: 300px;
      }
    }

    .general__main-info {
      h2 {
        font-size: var(--bigerSize);
        color: var(--themeColor);
      }

      p {
        margin: unset;
        margin-top: 10px;
      }

      .general__main-facts {
        margin-top: 20px;

        ul {
          columns: 2;
          @media (max-width: 768px) {
            columns: 1;
          }
          li {
            margin-bottom: 20px;
            line-height: 150%;

            i {
              color: var(--themeColor);
            }

            .bold {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}