.open{
  display: flex;
  visibility: visible;
  position: fixed;
  width: 100%;
  z-index: 3;
  }
aside {
  position: fixed;
  height: 100vh;
  width: min(300px, 30%);
  z-index: 2;
  background-color: var(--sideBGColor);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 992px) {
    display: none;
    visibility: hidden;
  }
  .aside__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    img {
      width: 130px;
      border-radius: 50%;
      border: 10px solid var(--iconBGColor);
    }

    h3 {
      font-size: var(--bigSize);
    }

    a:not(:last-of-type) {
      margin-right: 7px;
    }

    i {
      background-color: var(--iconBGColor);
      padding: var(--step);
      border-radius: 50%;
      font-size: var(--mediumSize);
      transition: .2s;

      &:hover {
        color: var(--themeColor);
      }
    }
  }

  .aside__navigation {
    font-size: var(--mediumSize);
    display: flex;
    gap: 15px;
    flex-direction: column;

    li {
      transition: .2s;

      @media (pointer: fine), (pointer: none) {
        &:hover {
          color: var(--themeColor);
        }
      }
    }


    i {
      margin-right: 15px;
    }
  }
}

.active {
  a {
    color: var(--themeColor)
  }
}