@import "reset";
@import "variables";
@import "reusable";

:root{
  font-size: 18px;
}

html{
  scroll-behavior: smooth;
}
h3 {
  font-size: var(--bigerSize);
  padding-bottom: 5px;
  border-bottom: 4px solid var(--themeColor);
  width: max-content;
}
p{
  color: slategray;
}