:root {
  --sideBGColor: #040b14;
  --themeColor: #00A78E;
  --iconBGColor: #2C2F3F;
  --textColor: whitesmoke;
  --bgColor: #F7F7F7;

  --bigestSize: 2rem;
  --bigerSize: 1.75rem;
  --bigSize: 1.5rem;
  --mediumSize: 1.3rem;
  --regularSize: 1rem;
  --smalSize: .87rem;

  --step: 5px;
}