footer {
  margin-left: min(30%, 300px);
  background-color: var(--bgColor);
  padding: calc(4 * var(--step));
  @media (max-width: 992px) {
    margin-left: unset;
  }
  .footer__content {
    display: flex;
    gap: calc(4 * var(--step));
    @media (max-width: 600px) {
      flex-wrap: wrap;
    }
  }
}